.btn {
    background-color: #000;
    color: wheat;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 0.7em;
    height: min-content;
    margin: 5px 0;
    padding: 5px;
}
.btn:hover {
    background-color: #111;
    border: 1px solid #111;
}
.btn:active {
    background-color: #222;
    border: 1px solid #222;
}

.menuBtn {
    background-color: rgb(82, 82, 82);
    border: 0;
    color: wheat;
    text-decoration: unset;
    height: min-content;
    padding: 10px;
    flex-basis: 100%;
}
.menuBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.menuBtn:active {
    text-decoration: underline;
}

.tabBtn {
    background-color: #282c34;
    border: 0;
    border-radius: 5px 5px 0 0;
    color: wheat;
    font-size: 24px;
    padding: 5px 10px;
    margin: 0;
}
.tabBtn:hover {
    background-color: #131418;
    cursor: pointer;
}
.tabBtn:active {
    background-color: #32353f;
}
.tabBtn.selected {
    background-color: #4a515f;
}

.worktime-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.worktime-buttons button {
    flex-basis: 20%;
    font-size: 0.3em;
    margin: 5px 0;
    padding: 10px 0;
}

/* Filter button */
.filterBtn {
    background-color: unset;
    color: wheat;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    font-size: 0.7em;
    height: min-content;
    margin: 5px 0;
    padding: 5px;
}
.filterBtn:hover {
    
}
.filterBtn:active {
    
}

@media (min-width: 768px) {
    .worktime-buttons button {
        flex-basis: 20%;
        font-size: 0.5em;
    }
    .btn {
        font-size: 1em;
    }
    .filterBtn {
        font-size: 0.6em;
    }
}