.top-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid wheat;
    margin-bottom: 10px;
}
.top-bar h2 {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}
.content-bill, .content-task, .content-worktime {
    position: relative;
    background-color: #1e2127;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.content-bill i.fa-x, .content-task i.fa-x, .content-worktime i.fa-x {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
}
.content-bill h4, .content-task h4 {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
}
.content-bill .title, .content-task .title, .content-worktime .title {
    line-height: 0.9em;
    margin-bottom: 10px;
}
.content-task .dueDate {
    flex-basis: 100%;
    font-size: 0.5em;
}
.content-bill .reminder, .content-task .reminder {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    font-size: 0.5em;
}
.content-bill .description, .content-task .description, .content-worktime .worktime-data {
    font-size: 0.75em;
    background-color: #323846;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}
.content-worktime h4 {
    flex-wrap: wrap;
}
.content-worktime h4 > div {
    flex-basis: 100%;
}
.fa-xs {
    line-height: 1em;
}
.fake-checkbox-false {
    background-color: #eee;
    border-radius: 25px;
    margin: 0 5px;
    height: 15px;
    width: 15px;
}
.fake-checkbox-true {
    position: relative;
    background-color: #2196F3;
    border-radius: 25px;
    margin: 0 5px;
    height: 15px;
    width: 15px;
}
.fake-checkbox-true::after {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.kpi-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.7em;
    padding-bottom: 25px;
}

.homepage-container .latest {
    margin: 1%;
}

.about {
    height: 100%;
    width: 100%;
}

.about h3 {
    padding: 0;
    margin: 0;
}
.about p {
    padding: 0;
    margin: 0 0 25px 0;
}

.lifted-container {
    border: 1px solid wheat;
    border-top: unset;
    box-shadow: 0px 10px 15px -10px black;
    padding: 50px;
    margin: 0 auto;
    width: 50%;
}

@media (min-width: 1024px) {
    .top-bar h2 {
        font-size: 1em;
    }
}