.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(40 44 52);;
    border: 1px solid rgb(56, 56, 56);
    box-shadow: 0px 0px 40px -10px #000;
}
.modal-container > * {
    position: relative;
}
.modal-container > h3 {
    text-align: center;
}
.modal-container > hr {
    border-color: wheat;
}
.modal-container > p, .modal-container .form-container {
    padding: 0 20px;
    margin: 5px 0;
}
.modal-container .form-container {
    margin-bottom: 20px;
}
.modal-container .form-field-title {
    display: flex;
}
.modal-container .form-error {
    font-size: 0.5em;
    color: #ffd400;
}
.modal-container .required-asterisk {
    color: #ffd400;
}
.modal-container .select__menu {
    background-color: rgb(40 44 52);;
    border: 1px solid rgb(56, 56, 56);
    box-shadow: 0px 0px 40px -10px #000;
}
.modal-container .select__menu .select__option--is-focused {
    background-color: #516481;
    border: 1px solid rgb(56, 56, 56);
    box-shadow: 0px 0px 40px -10px #000;
}