.generic-okay-form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(40 44 52);
    border: 1px solid rgb(56, 56, 56);
    border-radius: 5px;
    box-shadow: 0px 0px 40px -10px #000;
    color: #fff;
    min-height: 200px;
    width: 25%;
    z-index: 999;
}
.generic-okay-form form {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.generic-okay-form form hr {
    flex-basis: 100%;
    height: 1px;
}
.generic-okay-form .form-field-title {
    padding: 20px 20px 0 20px;
}
.generic-okay-form .form-field-description {
    padding: 0 20px 0 20px
}
.generic-okay-form .button-group {
    text-align: center;
    padding: 0px 20px 20px 20px;
    width: calc(100% - 40px);
}
.generic-okay-form .button-group button {
    background-color: #327732;
    border: 1px solid #265e26;
    color: #fff;
    font-size: 26px;
    width: 200px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px #000;
    height: 100%;
}
.generic-okay-form .button-group button:hover {
    background-color: #265e26;
}
.generic-okay-form .button-group button:active {
    background-color: #004400;
}

.form-container .field-group-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: min-content;
}
.form-container .field-group-input .form-field-title {
    flex-basis: 100%;
}
.form-container .field-group-input-split {
    display: flex;
    justify-content: space-between;
    line-height: 0.5em;
    padding-top: 2px;
}
.form-container .field-group input, .form-container .field-group-input input, .form-container .field-group-input-split input {
    background-color: var(--primary-decoration);
    border: unset;
    border-radius: 30px;
    padding: 0 10px;
    margin-right: 15px;
    line-height: 0.6em;
}
.form-container .field-group textarea {
    background-color: var(--primary-decoration);
    border: unset;
    border-radius: 15px;
    padding: 0 10px;
}
.form-container .field-group input:focus-visible, .form-container .field-group textarea:focus-visible {
    outline: 2px solid rgb(200, 181, 146);
    /* outline: 5px solid red; */
}
.form-container .button-group button {
    background-color: wheat;
    border-radius: 5px;
    border: 0;
    margin-right: 25px;
}
.form-container-login-register {
    margin: 0 auto;
    width: 200px;
}
.form-container-login-register ::placeholder {
    font-style: italic;
}
.form-container-login-register > form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.form-container-login-register > form .error-message.with-background, .form-container-login-register > form .form-error {
    color: red;
    font-size: 0.4em;
    margin: 10px auto;
    background-color: #191b21;
    padding: 5px 4px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -100px;
    transform: translate(-75%, -50%);
}
.form-container-login-register > form > .form-group-inputs {
    flex-basis: 100%;
}
.form-container-login-register > form > .form-group-inputs .field-group {
    position: relative;
    flex-basis: 100%;
    padding: 5px 0;
}
.form-container-login-register > form > .form-group-inputs .field-group input {
    background-color: var(--app-bg);
    border: 0;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    padding: 5px;
}
.form-container-login-register > form > .form-group-inputs .field-group input:focus-visible {
    outline: none;
    box-shadow: 0px 0px 10px 0px wheat;
}
.form-container-login-register > form > hr {
    flex-basis: 100%;
}
.form-container-login-register > form > .button-group {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.form-container-login-register > form > .button-group > button {
    background-color: var(--app-bg);
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: .7rem;
    padding: 5px;
    margin: 5px;
}
.form-container-login-register > form > .button-group > button:hover {
    background-color: #181b20;
}

/* OTP container */
.form-container-login-register > form > .form-group-inputs .otp-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-container-login-register > form > .form-group-inputs .otp-container p,
.form-container-login-register > form > .form-group-inputs .pre-password-reset-header p {
    flex-basis: 100%;
    font-size: 0.5em;
}
.form-container-login-register > form > .form-group-inputs .otp-container .field-group {
    flex-basis: unset;
}
.form-container-login-register > form > .form-group-inputs .otp-container .field-group input {
    padding: 0;
    width: 40px;
}

/* Note edit form */
.form-container-edit.note-form {
    background-color: #171a1f;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    position: absolute;
}
.form-container-edit.note-form .note {
    overflow: unset !important;
}
.form-container-edit.note-form .note .header-banner {
    border-radius: 5px 5px 0 0;
}
.form-container-edit.note-form .note .header-banner input {
    background-color: #ffed89 !important;
    color: var(--app-bg);
    outline: unset;
    border: 1px solid #b9ac5f;
    border-radius: 30px;
}
.form-container-edit.note-form .note .note-content textarea {
    color: wheat;
    background-color: #171a1f;
    border-radius: 30px;
    margin-top: 5px;
}
.form-container-edit.note-form .note .note-content textarea:focus-visible {
    outline: unset;
}
.form-container-edit.note-form .note .note-content input {
    color: wheat;
    background-color: #171a1f;
    border: 1px solid gray;
    border-radius: 30px;
}
.form-container-edit.note-form .note .note-content input:focus-visible {
    outline: unset;
}
.form-container-edit.note-form .note .note-content .checkbox-item label {
    margin-left: 10px;
}

.password-container {
    position: relative;
}
.password-container .show-hide {
    position: relative;
}
/* Customize the label (the .password- .show-hide) */
.password-container .show-hide {
    display: block;
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    user-select: none;
    top: 50%;
    right: 0;
    transform: translate(120%, -30%);
    height: 25px;
    width: 25px;
}

/* Hide the browser's default checkbox */
.password-container .show-hide input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.password-container .show-hide:hover input ~ .checkmark {
    background-color: #ccc;
    border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.password-container .show-hide input:checked ~ .checkmark {
    background-color: #2196F3;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.show-hide .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.password-container .show-hide input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.password-container .show-hide .checkmark:after {
    left: 10px;
    top: 4px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-radius: 10px;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Animal form */
.animal-form .form-group-background-info {
    display: flex;
    flex-wrap: wrap;
}
.animal-form .form-group-background-info .field-group.flex-100, .animal-form .form-group-background-info .field-group-input.flex-100,
.animal-form .form-group-background-info .field-group-input-split.field-group-input.flex-100 {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}
.animal-form .form-group-background-info .field-group.flex-100 .field-group, .animal-form .form-group-background-info .field-group-input.flex-100 .field-group,
.animal-form .form-group-background-info .field-group-input-split.field-group-input.flex-100 .field-group {
    max-width: 300px;
    margin: 0 15px 0 0;
}
.animal-form .form-group-background-info .field-group.flex-50, .animal-form .form-group-background-info .field-group-input.flex-50,
.animal-form .form-group-background-info .field-group-input-split.field-group-input.flex-50 {
    flex-basis: 50%;
}
.animal-form .form-group-background-info .field-group.flex-32, .animal-form .form-group-background-info .field-group-input.flex-32,
.animal-form .form-group-background-info .field-group-input-split.field-group-input.flex-32 {
    flex-basis: 32%;
}
.animal-form .field-group {
    /* max-width: 300px; */
}

/* Animal meter form */
.animal-meter-form .form-group-background-info .custom-select-creatable-container {
    flex-basis: 100%;
}